{% extends "app_mysite/base.html" %}

{% block content %}

<h2>Password reset</h2>
<form method="post">
    {% csrf_token %}
    <div style="width: 35%;">
        <div class="form-row">
            <div class="mb-3">
                <label class="text-primary" class="form-label">Email</label>
                {{form.email}}
            </div>
            <span>{{form.errors.email}}</span>
        </div>    
        <button type="submit" class="btn btn-primary">Request password reset</button>
    </div>    
</form>

{% endblock %}